<!DOCTYPE html>
<html lang="en">
<head>
  <title>VoteJS</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css" type="text/css" media="screen" />
  <script defer src="http://100.64.31.161/socket.io/socket.io.js"></script>
  <script defer type="text/javascript" src="script.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body class="container-fluid" style="margin-bottom: 10px;">
  <center>
  <h2 style="margin-top: 6px;">Ehdokkaat</h2>
  <% if (!haveVoted) {%>
  <h5>Sinulla on ääni käyttämättä</h5>
  <%}%>
  <div id="canditateContainer">
    <% canditateList.forEach(canditate => {%>
        <div style="margin-bottom: 13px; max-width: 26rem;" class="card">
          <div clas="card-content" style="margin-bottom: 0.75rem; margin-top: 0.5rem;">
            <h2 style="padding-top: 10px; background-color: white;" class="card-title"><%= canditate.name %></h2>
            <h5 style="margin: 0.5rem !important;" class="card-text"><%= canditate.desc%></h5>
          </div>
          <button class="btn btn-light card-footer" onclick="vote('<%=canditate.name%>');location.reload()">Äänestä</button>
        </div>
    <% }) %>
  </div>
  <button id="hidebtn" class="btn btn-lg btn-light">Piilota/Näytä Ehdokkaat</button>
  <hr>
  <div id="votesContainer">
    <h3>Taulukko</h3>
    <table class="table table-bordered table-hover" style="max-width: 50rem;">
      <thead class="thead-light">
       <tr>
          <th>Osuusäänistä</th>
          <th>Äänet</th>
          <th>Ehdokas</th>
        </tr>
      </thead>
      <tbody>

          <% canditateList.forEach( canditate => { %>
          <tr>
            <td><%= canditate.votes / totalVotes * 100 %>%</td>
            <td><%= canditate.votes %></td>
            <td><%= canditate.name %></td>
          </tr>
          <% }) %>

          <tr>
            <td>100%</td>
            <td><%= totalVotes %></td>
            <td>Yhteensä</td>
          </tr>
      </tbody>
    </table>
  </div>

  <div>
    <h3>Kaavio</h3>
    <canvas class="border" style="padding: 10px; border-width: 2px !important; max-width: 50rem; max-height: 500px;" id="myChart" width="300" height="300"></canvas>
    <script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
    labels: [
    <% canditateList.forEach(canditate => {%>
      '<%= canditate.name%>',
    <% }) %>

    ],
    datasets: [{
    label: 'Äänet',
    data: [<%= votesData%>],
    backgroundColor: [
      'rgb(255, 99, 132)',
      'rgb(54, 162, 235)',
      'rgb(92, 184, 92)',
      'rgb(255, 205, 86)',
      'rgb(250, 124, 27)',
      'rgb(91, 191, 222)'
    ],
    hoverOffset: 4
    }]
    },
    });
    </script>
  </div>
  <br>
  <hr>
  <button style="margin-bottom: 5px;" class="btn btn-danger" onclick="end()">Lopeta Äännestys (Vain Ylläpitäjä)</button>
  <button style="margin-bottom: 5px;" class="btn btn-primary" onclick="reload()">Päivätä Luvut</button>
  </center>
  <footer class="page-footer font-small" style="padding-top: 6px;">
    <div class="footer-copyright text-center">MIT License © 2022-2023
      <a>Oras Pönkä</a>
    </div>
  </footer>
</body>
</html>
