<html>
<head>
  <title>VoteJS</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css" type="text/css" media="screen" />
  <script defer src="http://100.64.31.161/socket.io/socket.io.js"></script>
  <script defer type="text/javascript" src="maker.js"></script>
  <link rel="stylesheet" href="maker.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body style="margin-top: 0.5rem;">
<form id="form" class="form-group" style="margin: 0.6rem;">
  <input style="margin-bottom: 0.4rem;" class="form-control" id="input" type="text" name="item" placeholder="Ehdokas..." autocomplete="off" autocapitalize="off"/>
  <textarea spellcheck="false" placeholder="Kuvaus ehdokkaasta..." style="margin-bottom: 0.4rem;" name="desc" id="desc" rows="5" class="form-control" type="text" autocomplete="off" autocapitalize="off"></textarea>
  <button class="form-control btn btn-primary" type="submit">Lisää</button>
</form>
<div class="form-group" style="margin: 0.6rem;">
<button type="button" class="form-control btn btn-danger" onclick="reset()">Reset</button>
</div>
<div class="form-group" style="margin: 0.6rem;">
<button type="button" class="form-control btn btn-success" onclick="sendList()">Valmis</button>
</div>
<ul style="margin: 0.6rem;" class="list-group" id="list">
</ul>
</body>
</html>
