<html>
<head>
  <title>VoteJS</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css" type="text/css" media="screen" />
  <script defer src="http://100.64.31.161/socket.io/socket.io.js"></script>
  <script defer type="text/javascript" src="script.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <style>
    *{
        margin: 3px;
    }
  </style>
</head>
<body>
 <h2>Ei mitään äänestettävää tällä hetkellä.</h2>
 <h2 style="margin-top: -6px;">Jos olet ylläpitäjä niin voit aloittaa äänestyksen <a style="margin-left: -1px;" href="/maker">täältä.</a></h2>
</body>
</html>
